importFrom(parallel, detectCores)
importFrom(Gmedian, Gmedian)
importFrom(Gmedian, Weiszfeld)
importFrom(doParallel, registerDoParallel)
importFrom(foreach,'%dopar%')
importFrom(foreach,'%do%')
importFrom(foreach,foreach)
importFrom(parallel, stopCluster)
importFrom(parallel, makeCluster)
importFrom(Gmedian, kGmedian)
importFrom(stats, kmeans)
importFrom(capushe, capushe)
importFrom(capushe, plot)
importFrom(ggplot2, ggplot)
importFrom(reshape2, melt)
importFrom(ggplot2,aes)
importFrom(ggplot2,scale_x_continuous)
importFrom(ggplot2,scale_y_continuous)
importFrom(ggplot2,geom_point)
importFrom(ggplot2,facet_wrap)
importFrom(stats,rnorm)
importFrom(stats,runif)
importFrom(stats,rt)
importFrom(ggplot2,geom_line)
importFrom(ggplot2,scale_color_manual)
export(Kmedians)
export(Kmeans)
export(Kplot)
export(gen_K)


